affine
anyio
argon2-cffi
argon2-cffi-bindings
arrow
asttokens
attrs
backcall
beautifulsoup4
bleach
certifi
cffi
charset-normalizer
click
click-plugins
cligj
colorama
comm
contourpy
cycler
debugpy
decorator
defusedxml
earthpy
executing
fastjsonschema
Fiona
fonttools
fqdn
geopandas
idna
imageio
ipykernel
ipython
ipython-genutils
ipywidgets
isoduration
jedi
Jinja2
jsonpointer
jsonschema
jupyter
jupyter-console
jupyter-events
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab-pygments
jupyterlab-widgets
kiwisolver
lazy_loader
MarkupSafe
matplotlib
matplotlib-inline
matplotlib-scalebar
mistune
munch
nbclassic
nbclient
nbconvert
nbformat
nest-asyncio
networkx
notebook
notebook_shim
numpy
packaging
pandas
pandocfilters
parso
pickleshare
Pillow
platformdirs
prometheus-client
prompt-toolkit
psutil
pure-eval
pycparser
Pygments
pyparsing
pyproj
pyrsistent
python-dateutil
python-json-logger
pytz
PyWavelets
pywin32
pywinpty
PyYAML
pyzmq
qtconsole
QtPy
rasterio
requests
rfc3339-validator
rfc3986-validator
rioxarray
scikit-image
scipy
seaborn
Send2Trash
shapely
six
sniffio
snuggs
soupsieve
stack-data
terminado
tifffile
tinycss2
tornado
traitlets
uri-template
urllib3
wcwidth
webcolors
webencodings
websocket-client
widgetsnbextension
xarray
